{% extends 'app.html' %} {% block title %}{{ center_name }}{% endblock %} {% block content %}
<div class="position-relative overflow-hidden text-center center-banner" style='background-image: url(/static/center-assets/{{ center_id }}/{{ main_photo }}); height: 85vh; min-height: 500px'>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <img src="/static/center-assets/{{ center_id }}/{{ center_logo }}/" class='logo-big' alt="logo">
    <h1 class="display-4 fw-normal ghost-highlight">{{ center_name }}</h1>
    <p class="lead fw-normal ghost-highlight">{{ center_description_short }}</p>
  </div>
</div>
<div class='m-3 p-1'>
  <div class="row">
    <div style='min-width: 500px; width: 73%; padding: 20px;'>
      <h4 style='margin-bottom: 0;'>Sobre {{ center_name }}</h4><small style='margin-top:0; margin-bottom: 16px;'>Usuario de HorsRancher desde {{ center_registration }}</small>
      <p>{{ center_description_long }}.</p>
      <h4>Niveles que ofrece {{ center_name }}</h4>
      <ul class='list-inline'>
        {% for level in center_levels %}
        <li class='list-inline-item'>
          <div class='card m-2 p-2' style='width: 240px; height: 75px; text-align: center;'>
            <h6>{{ level['levelName'] }}</h6>
            <h5>Desde {{ level['EUR_hour'] }}€/h</h5>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h4 style='padding-top: 30px;'>Instructores en {{ center_name }}</h4>
      <ul class='list-inline'>
        {% for instructor in center_instructors %}
        <li class='list-inline-item'>
          <div class='card m-2 p-2' style='height: 75px;'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                <div class='instructor-profile-pic' style='background-image: url(/static/center-assets/{{ center_id }}/instructors/{{ instructor['pictureURL'] }})'></div>
              </li>
              <li class='list-inline-item'>
                <div style='text-align: center; height: 100%; vertical-align: text-top; min-width: 150px; line-height: normal'>
                  <h4>{{ instructor['Name'] }}</h4><small>{{ instructor['levelName'] }}</small>
                </div>
              </li>
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h4 style='padding-top: 30px'>Caballos en {{ center_name }}</h4>
      <ul class='list-inline'>
          {% for horse in center_horses %}
          <li class='list-inline-item'>
          <div class='card m-2 p-2' style='height: 75px;'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                <div class='horse-profile-pic' style='background-image: url(/static/center-assets/{{ center_id }}/horses/{{ horse['pictureURL'] }}'></div>
              </li>
              <li class='list-inline-item'>
                <div style='text-align: center; height: 100%; vertical-align: text-top; min-width: 110px; line-height: normal'>
                  <h4>{{ horse['Name'] }}</h4><small>{{ horse['levelName'] }}</small>
                </div>
              </li>
            </ul>
          </div>
          </li>
          {% endfor %}
      </ul>
    </div>
    <div style='width: 23%; min-width: 300px; padding: 20px;'>
      <h4>Disponibilidad en {{ center_name }}</h4>
      <h6>{{ today['mt'] }} {{ today['y'] }}</h6>
                <table class='table'>
                    <thead>
                        <tr>
                            <td scope='col'>L</td><td scope='col'>M</td><td scope='col'>X</td><td scope='col'>J</td><td scope='col'>V</td><td scope='col'>S</td><td scope='col'>D</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in calendar %}
                        <tr>
                            {% for cell in row %}
                            <td {% if cell['t'] %}style='font-weight: bold; text-decoration: underline;'{% endif %}{% if cell['sm'] == False %}style='font-weight: 200;'{% endif %}>
                            
                              {{ cell['d'] }}
                            
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
      <a class="btn btn-outline-primary" style='width: 100%;' role='button' href='/reserve/{{ center_id }}/'>Reservar en {{ center_name }}</a>
      <h4 id='contact-optns' style='padding-top: 30px'>Conecta con {{ center_name }}</h4>
      {% for account in center_social %}
      <ul class='list-inline'>
        <li class='list-inline-item'>
          <a href='{{ account['url'] }}' class='connect-item' style='text-decoration: none'><img alt='{{ account['logo'] }} logo' class='social-media-small-icon' src="/static/assets/social/{{ account['logo'] }}/" alt="instagram"></a>
        </li>
        <li class='list-inline-item'>
          <a href='{{ account['url'] }}' class='connect-item' style='text-decoration: none'>
          <h6>{{ account['display'] }}</h6></a>
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>{% endblock %}