{% extends 'manage.html' %}

{% block title %}Detalles de su nuevo centro{% endblock %}

{% block head %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('loading').hidden = true;
            document.getElementById('mainContainer').hidden = false;
        })
    </script>
{% endblock %}

{% block content %}
<div style="height: 55px;">
</div>

<div class="container" id="loading">
    <h2>Cargando...</h2>
    <p>
        Si tiene problemas con la carga de la página, verifique que tiene JavaScipt encendido y recargue la página
    </p>
</div>
<div style="height: 55px;"></div>

<div class="container" id="mainContainer">
    <h1>Imágen de logo</h1>
    <sub style="font-size: larger;">
        Aquí puedes subir un logotipo para tus clientes
    </sub>
    <div style="height: 25px;"></div>
    <form enctype=multipart/form-data action="/manage/new/S5" method="POST">
        <div class="mb-3">
            <label for="logo" class="form-label">Logotipo del centro</label>
            <input required type="file" class="form-control" id="logo" name="logo" aria-describedby="logoHelp">
            <div id="logoHelp" class="form-text">Debe ser una imágen cuadrada. Recomendado que sea 400 píxeles x 400 píxeles</div>
        </div>
        <div class="mb-3">
            <label for="banner" class="form-label">Portada del centro</label>
            <input required type="file" class="form-control" id="banner" name="banner" aria-describedby="bannerHelp">
            <div id="bannerHelp" class="form-text">Debe ser una imágen horizontal.</div>
        </div>
        <input type="checkbox" hidden checked name="termsAcceptance" value="accepted">
        <input name="center_name" hidden value="{{ center_name }}">
        <input name="center_description_short" hidden value="{{ center_description_short }}">
        <input hidden type="time" name="openingTime" value="{{ openingTime }}">
        <input hidden type="time" name="closingTime" value="{{ closingTime }}">
        <input hidden type="time" name="classStartTime" value="{{ classStartTime }}">
        <input hidden type="time" name="classEndTime" value="{{ classEndTime }}">
        <input hidden type="number" name="classesEvery" value="{{ classesEvery }}">
        <input hidden type="number" name="classDuration" value="{{ classDuration }}">
        <input hidden type="number" name="classSize" value="{{ classSize }}">
        <div style="height: 60px;"></div>
        <input type="submit" class="btn btn-lg btn-primary" value="Terminar"></input>
    </form>
</div>

{% endblock %}