{% extends 'app.html' %}

{% block title %}Reserva {{ res_code }}{% endblock %}

{% block head %}
<script src="/static/scripts/options/ind.js/"></script>
{% endblock %}

{% block content %}
<div style="height: 55px;"></div>

<div class="container">
  <h4 style='width: 100%; text-align: center; padding: 8px;'>Reserva {{ res_code }}</h4>
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading" style='width: 100%; text-align: center; padding: 8px;'>Información</h4>
    <div class='row'>
      <div style="width: 25%; height: 550px; background-size: cover; background-image: url('/static/center-assets/{{ center_id }}/{{ main_photo }}');">
        <img style='margin-left: calc(50% - 40px); margin-top: 200px; width: 80px; border-radius: 12%;' src="/static/center-assets/{{ center_id }}/{{ logo }}"></img>
      </div>
      <div style='width: 43%'>
        <h4>Tu reserva en</h4>
        <h2>{{ center }}</h2>
        <h5>{{ center_short }}</h5>
        <p>{{ center_long }}</p>
      </div>
      <div style='width: 30%'>
        <h4>Tus opciones seleccionadas</h4>
        {% for item in meta_booking %}
        <div class='alert alert-primary' style='width: 100%; padding: 5px;'>
          <ul class='list-inline' style='margin-bottom:0;'>
            <li class='list-inline-item'>
              <div class='profile-pic {% if item['circle'] %}profile-pic-circle{% endif %}' style='background-image: url({{ item['image'] }})'></div>
            </li>
            <li class='list-inline-item'>
              <h7>{{ item['top'] }}</h7>
              <h5>{{ item['big'] }}</h5>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <h4 style="width: 100%; text-align: center; padding: 8px;">
    Modifica tu reserva
  </h4>
  <div class="row">
    <button data-bs-toggle="modal" data-bs-target="#cancelModal" style="width: calc(50% - 16px); margin: 8px;" class="btn btn-outline-danger">
      Cancelar y eliminar reserva
    </button>
    <button data-bs-toggle="modal" data-bs-target="#modifyModal" style="width: calc(50% - 16px); margin: 8px;" class="btn btn-outline-primary">
      Modificar detalles de la reserva
    </button>
  </div>
  <div style="height: 20px;"></div>
  <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cancelModalLabel">Cancelar e eliminar reserva</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Se eliminaran todos los datos de tu reserva inmediatamente y se liberará el plazo correspondiente. Esta acción no se puede deshacer. ¿Desea continuar?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver atrás</button>
          <form action="/options/delete/{{ res_code }}/" method="POST">
            <button type="submit" class="btn btn-danger">Cancelar y eliminar mi reserva</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modifyModalLabel">Modificar detalles de tu reserva</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select" id="modifyType">
            <option value="def" selected disabled>
              ¿Qué aspecto desea modificar?
            </option>
            <option value="/options/modify/hi/{{ res_code }}/">
              Caballo/Profesor
            </option>
            <option value="/options/modify/level/{{ res_code }}/">
              Nivel
            </option>
            <option value="/options/modify/datetime/{{ res_code }}/">
              Fecha y hora
            </option>
            <option value="/options/modify/contact/{{ res_code }}/">
              Mi información de contacto
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver atrás</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}