{% extends 'manage.html' %}

{% block title %}Panel de Control{% endblock %}

{% block head %}
<style>
.optns .card {
    margin: 5px;
}
.optns a {
    color: black;
    text-decoration: none;
}
</style>
{% endblock %}

{% block content %}
<div style="height: 58px;"></div>
<div class="container">
    <h2>
        Bienvenid@ a tu panel de control, {{ center['displayName'] }}
    </h2>
    Desde aquí puede ver y editar sus profesores, caballos, reservas, imágenes y detalles.
    <div class="optns" style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 10px;">
        <a href="/manage/instructors/" id="instructors">    
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Profesores
                    </h4>
                    <p class="card-text">
                        Visualiza, crea, edita y elimina tus perfiles de profesores.
                    </p>
                </div>
            </div>
        </a>
        <a href="/manage/horses/" id="horses">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Caballos
                    </h4>
                    <p class="card-text">
                        Visualiza, crea, edita y elimina tu listado de caballos.
                    </p>
                </div>
            </div>
        </a>
        <a href="/manage/levels/" id="levels">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Niveles
                    </h4>
                    <p class="card-text">
                        Visualiza, crea, edita y elimina tu listado de niveles.
                    </p>
                </div>
            </div>
        </a>
        <a href="/manage/reservations/" id="reservations">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Reservas
                    </h4>
                    <p class="card-text">
                        Visualiza, crea, edita y elimina las reservas de tus clientes.
                    </p>
                </div>
            </div>
        </a>
        <a href="/manage/images/" id="images">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Imágenes
                    </h4>
                    <p class="card-text">
                        Sube y elimina imágenes para usar en toda tu página.
                    </p>
                </div>
            </div>
        </a>
        <a href="/manage/info/" id="info">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        Detalles
                    </h4>
                    <p class="card-text">
                        Edita los detalles de tu centro
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 5;">
    <div id="newToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Tu centro se ha creado con éxito</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <div>
    <button id="instructor_popover" type="button" class="btn btn-secondary popovering"
        style="position: absolute; z-index: -2;"
        data-bs-toggle="popover" data-bs-placement="right"
        data-bs-custom-class="custom-popover"
        data-bs-title="Custom popover"
        data-bs-content="This popover is themed via CSS variables.">
    </button>
  </div>
  <div hidden id="tourCover" style="z-index: 4; position: absolute; bottom: 0px; top: 0px; left: 0px; right: 0px; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.344);"></div>

{% endblock %}

{% block extscript %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('new') === '1') {
            var toastElement = document.getElementById('newToast');
            var toast = new bootstrap.Toast(toastElement, { delay: 5000 });
            toast.show();
            history.replaceState(null, null, "/manage/")
            document.getElementById("tourCover").hidden = false;
            document.getElementById("instructors").style.zIndex = 5;
            document.getElementById('popoverbutton').click();
        }
        new bootstrap.Popover(document.querySelector('[data-bs-toggle="popover"]'));
    });
    function updateelements() {
      const target = document.getElementById('instructors');
      const follower = document.getElementById('popoverbutton');
      const targetRect = target.getBoundingClientRect();

      follower.style.width = `${targetRect.width}px`;
      follower.style.height = `${targetRect.height}px`;
      follower.style.top = `${targetRect.top + window.scrollY}px`;
      follower.style.left = `${targetRect.left + window.scrollX}px`;
    }
    updateelements();
    window.addEventListener('resize', updateelements);
    window.addEventListener('scroll', updateelements);

</script>

{% endblock %}