{% extends 'manage.html' %}

{% block title %}Caballos{% endblock %}

{% block content %}
<div style="height: 55px;"></div>
<div class="container">
    <h1 style='text-align: center; width: 100%'>Caballos</h1>
    <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nivel</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          {% for horse in horses %}
          <tr onclick="window.location.href='/manage/horses/{{ horse['ID'] }}/edit/'">
            <td>
                <div style='background-image: URL(/static/center-assets/{{ center_id }}/horses/{{ horse['pictureURL'] }}/); height: 46px; width: 46px; border-radius: 50%;' class='profile-pic'></div>
            </td>
            <th scope="row">{{ horse['Name'] }}</th>
            <td>{{ horse['levelName'] }}</td>
            <td>
                <a href='/manage/horses/{{ horse['ID'] }}/edit/'>
                    Editar
                </a>
                <a style='margin-left:6px;' href='/manage/horses/{{ horse['ID'] }}/delete/'>
                    Eliminar
                </a>
            </td>
          </tr>
          {% endfor %}
          
          <tr onclick="window.location.href='/manage/horses/+/edit/'">
            <td>
                <div style='font-size: 50px; height: 46px; width: 46px; line-height: 0.7; text-align: center'>+</div>
            </td>
            <th scope="row">Nuevo</th>
            <td></td><td></td>
          </tr>
          </tbody>
        </table>
</div>
{% endblock %}