{% extends 'manage.html' %}

{% block title %} Redes sociales {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.1.0/build/css/intlTelInput.css">
<script>
  function matchWidth() {
      const source = document.getElementById('youtube');
      const targets = document.querySelectorAll('.phone');
      targets.forEach((target) => {target.style.width = `${source.offsetWidth}px`;});
  }

  window.addEventListener('load', matchWidth);
  window.addEventListener('resize', matchWidth);
</script>
<script src="/static/scripts/manage/socials.js"></script>
{% endblock %}

{% block content %}
<div style="height: 55px;"></div>
  <div class="container">
    <h1 style='text-align: center; width: 100%'>Redes sociales y formas de contacto</h1>
    <form method="POST" action="/manage/socials/">
      <div class="mb-3">
        <label for="facebook" class="form-label">Cuenta de Facebook</label>
        <input type="url" placeholder="https://facebook.com/..." class="form-control" id="facebook" name="facebook" aria-describedby="facebookHelp">
        <div id="facebookHelp" class="form-text">Debe ser un enlace válido a una página o cuenta de Facebook.</div>
      </div>
      <div class="mb-3">
        <label for="instagram" class="form-label">Cuenta de Instagram</label>
        <input type="url" placeholder="https://instagram.com/..." class="form-control" id="instagram" name="instagram" aria-describedby="instagramHelp">
        <div id="instagramHelp" class="form-text">Debe ser un enlace válido a una cuenta de Instagram.</div>
      </div>
      <div class="mb-3">
        <label for="linkedin" class="form-label">Cuenta de Linkedin</label>
        <input type="url" placeholder="https://linkedin.com/in/..." class="form-control" id="linkedin" name="linkedin" aria-describedby="linkedinHelp">
        <div id="linkedinHelp" class="form-text">Debe ser un enlace válido a una empresa o usuario de Linkedin.</div>
      </div>
      <div class="mb-3">
        <label for="telephone" class="form-label">Número de Teléfono</label>
        <input type="phone" class="form-control phone" id="telephone" aria-describedby="telephoneHelp">
        <div id="telephoneHelp" class="form-text">Debe ser un número de teléfono válido.</div>
      </div>
      <div class="mb-3">
        <label for="pinterest" class="form-label">Cuenta de Pinterest</label>
        <input type="url" placeholder="https://pinterest.com/..." class="form-control" id="pinterest" name="pinterest" aria-describedby="pinterestHelp">
        <div id="pinterestHelp" class="form-text">Debe ser un enlace válido a una cuenta de Pinterest.</div>
      </div>
      <div class="mb-3">  
        <label for="reddit" class="form-label">Cuenta de Reddit</label>
        <input type="url" placeholder="https://reddit.com/user/..." class="form-control" id="reddit" name="reddit" aria-describedby="redditHelp">
        <div id="redditHelp" class="form-text">Debe ser un enlace válido a una cuenta de Reddit.</div>
      </div>
      <div class="mb-3">  
        <label for="tiktok" class="form-label">Cuenta de TikTok</label>
        <input type="url" placeholder="https://tiktok.com/@..." class="form-control" id="tiktok" name="tiktok" aria-describedby="tiktokHelp">
        <div id="tiktokHelp" class="form-text">Debe ser un enlace válido a una cuenta de Tiktok.</div>
      </div>
      <div class="mb-3">
        <label for="twitter" class="form-label">Cuenta de X (anteriormente Twitter)</label>
        <input type="url" placeholder="https://twitter.com/..." class="form-control" id="twitter" name="twitter" aria-describedby="twitterHelp">
        <div id="twitterHelp" class="form-text">Debe ser un enlace válido a una cuenta de X.</div>
      </div>
      <div class="mb-3">
        <label for="vimeo" class="form-label">Canal de Vimeo</label>
        <input type="url" placeholder="https://vimeo.com/..." class="form-control" id="vimeo" name="vimeo" aria-describedby="vimeoHelp">
        <div id="vimeoHelp" class="form-text">Debe ser un enlace válido a un canal de Vimeo.</div>
      </div>
      <div class="mb-3">
        <label for="wa" class="form-label">Número Móvil con WhatsApp</label>
        <input type="phone" class="form-control phone" id="wa" aria-describedby="waHelp">
        <div id="waHelp" class="form-text">Debe ser un número de teléfono móvil válido de WhatsApp.</div>
        <!-- TODO: placeholders for networks -->
      </div>
      <div class="mb-3">
        <label for="youtube" class="form-label">Canal de YouTube</label>
        <input type="url" placeholder="https://youtube.com/channel/..." class="form-control" id="youtube" name="youtube" aria-describedby="youtubeHelp">
        <div id="youtubeHelp" class="form-text">Debe ser un enlace válido a un canal de YouTube.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" placeholder="correo@electronico.com" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Debe ser un correo electrónico válido.</div>
      </div>
      <button type="button" class="btn btn-outline-secondary" onclick="history.back();" style="width: calc(50% - 5px); margin-top: 10px;">Cancelar</button>
      <button onclick="checkInputs()" type="submit" class="btn btn-primary" style="width: calc(50% - 5px); margin-left: 5px; margin-top: 10px;">Guardar</button>
    </form>
  </div>
</div>
<div style="height: 35px;"></div>
{% endblock %}

{% block extscript %}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.1.0/build/js/intlTelInput.min.js"></script>
<script>
  document.querySelectorAll(".phone").forEach((phoneelement) => {
    window.intlTelInput(phoneelement, {
      i18n: {
            af: "Afganistán",
            al: "Albania",
            de: "Alemania",
            ad: "Andorra",
            ao: "Angola",
            ai: "Anguila",
            aq: "Antártida",
            ag: "Antigua y Barbuda",
            sa: "Arabia Saudí",
            dz: "Argelia",
            ar: "Argentina",
            am: "Armenia",
            aw: "Aruba",
            au: "Australia",
            at: "Austria",
            az: "Azerbaiyán",
            bs: "Bahamas",
            bd: "Bangladés",
            bb: "Barbados",
            bh: "Baréin",
            be: "Bélgica",
            bz: "Belice",
            bj: "Benín",
            bm: "Bermudas",
            by: "Bielorrusia",
            bo: "Bolivia",
            ba: "Bosnia y Herzegovina",
            bw: "Botsuana",
            br: "Brasil",
            bn: "Brunéi",
            bg: "Bulgaria",
            bf: "Burkina Faso",
            bi: "Burundi",
            bt: "Bután",
            cv: "Cabo Verde",
            kh: "Camboya",
            cm: "Camerún",
            ca: "Canadá",
            bq: "Caribe neerlandés",
            qa: "Catar",
            td: "Chad",
            cz: "Chequia",
            cl: "Chile",
            cn: "China",
            cy: "Chipre",
            va: "Ciudad del Vaticano",
            co: "Colombia",
            km: "Comoras",
            cg: "Congo",
            kp: "Corea del Norte",
            kr: "Corea del Sur",
            cr: "Costa Rica",
            ci: "Côte d’Ivoire",
            hr: "Croacia",
            cu: "Cuba",
            cw: "Curazao",
            dk: "Dinamarca",
            dm: "Dominica",
            ec: "Ecuador",
            eg: "Egipto",
            sv: "El Salvador",
            ae: "Emiratos Árabes Unidos",
            er: "Eritrea",
            sk: "Eslovaquia",
            si: "Eslovenia",
            es: "España",
            us: "Estados Unidos",
            ee: "Estonia",
            sz: "Esuatini",
            et: "Etiopía",
            ph: "Filipinas",
            fi: "Finlandia",
            fj: "Fiyi",
            fr: "Francia",
            ga: "Gabón",
            gm: "Gambia",
            ge: "Georgia",
            gh: "Ghana",
            gi: "Gibraltar",
            gd: "Granada",
            gr: "Grecia",
            gl: "Groenlandia",
            gp: "Guadalupe",
            gu: "Guam",
            gt: "Guatemala",
            gf: "Guayana Francesa",
            gg: "Guernsey",
            gn: "Guinea",
            gq: "Guinea Ecuatorial",
            gw: "Guinea-Bisáu",
            gy: "Guyana",
            ht: "Haití",
            hn: "Honduras",
            hu: "Hungría",
            in: "India",
            id: "Indonesia",
            iq: "Irak",
            ir: "Irán",
            ie: "Irlanda",
            bv: "Isla Bouvet",
            im: "Isla de Man",
            cx: "Isla de Navidad",
            nf: "Isla Norfolk",
            is: "Islandia",
            ax: "Islas Åland",
            ky: "Islas Caimán",
            cc: "Islas Cocos",
            ck: "Islas Cook",
            fo: "Islas Feroe",
            gs: "Islas Georgia del Sur y Sandwich del Sur",
            hm: "Islas Heard y McDonald",
            fk: "Islas Malvinas",
            mp: "Islas Marianas del Norte",
            mh: "Islas Marshall",
            um: "Islas menores alejadas de EE. UU.",
            pn: "Islas Pitcairn",
            sb: "Islas Salomón",
            tc: "Islas Turcas y Caicos",
            vg: "Islas Vírgenes Británicas",
            vi: "Islas Vírgenes de EE. UU.",
            il: "Israel",
            it: "Italia",
            jm: "Jamaica",
            jp: "Japón",
            je: "Jersey",
            jo: "Jordania",
            kz: "Kazajistán",
            ke: "Kenia",
            kg: "Kirguistán",
            ki: "Kiribati",
            kw: "Kuwait",
            la: "Laos",
            ls: "Lesoto",
            lv: "Letonia",
            lb: "Líbano",
            lr: "Liberia",
            ly: "Libia",
            li: "Liechtenstein",
            lt: "Lituania",
            lu: "Luxemburgo",
            mk: "Macedonia del Norte",
            mg: "Madagascar",
            my: "Malasia",
            mw: "Malaui",
            mv: "Maldivas",
            ml: "Mali",
            mt: "Malta",
            ma: "Marruecos",
            mq: "Martinica",
            mu: "Mauricio",
            mr: "Mauritania",
            yt: "Mayotte",
            mx: "México",
            fm: "Micronesia",
            md: "Moldavia",
            mc: "Mónaco",
            mn: "Mongolia",
            me: "Montenegro",
            ms: "Montserrat",
            mz: "Mozambique",
            mm: "Myanmar (Birmania)",
            na: "Namibia",
            nr: "Nauru",
            np: "Nepal",
            ni: "Nicaragua",
            ne: "Níger",
            ng: "Nigeria",
            nu: "Niue",
            no: "Noruega",
            nc: "Nueva Caledonia",
            nz: "Nueva Zelanda",
            om: "Omán",
            nl: "Países Bajos",
            pk: "Pakistán",
            pw: "Palaos",
            pa: "Panamá",
            pg: "Papúa Nueva Guinea",
            py: "Paraguay",
            pe: "Perú",
            pf: "Polinesia Francesa",
            pl: "Polonia",
            pt: "Portugal",
            pr: "Puerto Rico",
            hk: "RAE de Hong Kong (China)",
            mo: "RAE de Macao (China)",
            gb: "Reino Unido",
            cf: "República Centroafricana",
            cd: "República Democrática del Congo",
            do: "República Dominicana",
            re: "Reunión",
            rw: "Ruanda",
            ro: "Rumanía",
            ru: "Rusia",
            eh: "Sáhara Occidental",
            ws: "Samoa",
            as: "Samoa Americana",
            bl: "San Bartolomé",
            kn: "San Cristóbal y Nieves",
            sm: "San Marino",
            mf: "San Martín",
            pm: "San Pedro y Miquelón",
            vc: "San Vicente y las Granadinas",
            sh: "Santa Elena",
            lc: "Santa Lucía",
            st: "Santo Tomé y Príncipe",
            sn: "Senegal",
            rs: "Serbia",
            sc: "Seychelles",
            sl: "Sierra Leona",
            sg: "Singapur",
            sx: "Sint Maarten",
            sy: "Siria",
            so: "Somalia",
            lk: "Sri Lanka",
            za: "Sudáfrica",
            sd: "Sudán",
            ss: "Sudán del Sur",
            se: "Suecia",
            ch: "Suiza",
            sr: "Surinam",
            sj: "Svalbard y Jan Mayen",
            th: "Tailandia",
            tw: "Taiwán",
            tz: "Tanzania",
            tj: "Tayikistán",
            io: "Territorio Británico del Océano Índico",
            tf: "Territorios Australes Franceses",
            ps: "Territorios Palestinos",
            tl: "Timor-Leste",
            tg: "Togo",
            tk: "Tokelau",
            to: "Tonga",
            tt: "Trinidad y Tobago",
            tn: "Túnez",
            tm: "Turkmenistán",
            tr: "Turquía",
            tv: "Tuvalu",
            ua: "Ucrania",
            ug: "Uganda",
            uy: "Uruguay",
            uz: "Uzbekistán",
            vu: "Vanuatu",
            ve: "Venezuela",
            vn: "Vietnam",
            wf: "Wallis y Futuna",
            ye: "Yemen",
            dj: "Yibuti",
            zm: "Zambia",
            zw: "Zimbabue",
            selectedCountryAriaLabel: "Pais seleccionado",
            noCountrySelected: "Ningun pais seleccionado",
            countryListAriaLabel: "Listado de paises",
            searchPlaceholder: "Buscar",
            zeroSearchResults: "No se han encontrado resultados",
            oneSearchResult: "1 resultado encontrado",
            multipleSearchResults: "${count} resultados encontrados",
      },
      initialCountry: "es",
      hiddenInput: function(telInputName) {
            return {
            phone: phoneelement.id,
            country: phoneelement.id + "country"
         }
        },
      utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@23.1.0/build/js/utils.js",
      formatAsYouType: true,
      strictMode: true,
    });
  });
</script>
{% endblock %}